{
    "arrowParens":"always",
    "bracketSameLine":false,
    "bracketSpacing":true,
    "embedded LanguageFormatting":"auto",
    "htmlWhitespaceSensitivity":"css",
    "insertPragma":false,
    "jsxSingleQuote":false,
    "printWidth":120,
    "proseWrap":"preserve",
    "quoteProps":"as-needed",
    "requirePragma":false,
    "semi":true,
    "singleQuote":true,
    "tabwidth":4,
    "trailingComma":"all",
    "useTabs":false,
    "vue IndentScriptAndStyle": false
  }