.wrapper {
  display: inline-flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: 'ProximaNova', sans-serif;
  padding: 9px 16px;
  font-weight: 700;
  min-width: 100px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  user-select: none;
  + .wrapper {
    margin: 0 8px;
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
  &.title { 
    text-align: center;
    align-self: center;
  }
}

.icon + .title,
.title + .icon {
  margin: 0px 8px;
}

.icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
// Button type
.rounded {
  border-radius: 99999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  border-color: currentColor;
  color: var(--primary);
  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.text {
  &:hover {
    // text-decoration: underline;
    background-color: rgba(22, 24, 35, 0.03);
  }
  border: 1px solid rgba(22, 24, 35, 0.12);
}

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 136px;
  padding: 14px 16px;
}
