.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-space: 9px;
  --search-button-width: 52px;
  height: var(--default-layout-header-height, 60px);
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-space);
}

.logo {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.actions-btn {
  display: flex;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.user-avt {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  cursor: pointer;
  object-fit: cover;
  margin-left: 32px;
}

.more-btn {
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  padding: 0 6px;
}
