.wrapper {
  width: 356px;
  padding: 20px 0px 26px 8px;
  position: relative;
  // &::after { 
  //   content: "";
  //   position: absolute;
  //   left: 8px;
  //   right: 8px;
  //   top: 0;
  //   height: 1px;
  //   width: 100%;
  //   background: rgba(22, 24, 35, 0.12);
  //   transform: scaleY(0.5);
  // }
}
