// More menu item
.more-menu-item {
  width: 100%;
  align-self: start;
  margin: 4px;
}
.menu-body { 
  overflow-y: auto;
  width: 240px;
}

.item-btn {
  width: 100%;
  margin: 2px 0 !important;
  justify-content: start;
  font-weight: 600;
  padding: 11px 16px;
  line-height: 1.8rem;
  &:hover {
    background: rgba(22, 24, 35, 0.03); 
  }
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: start;
  align-self: center;
  align-items: center;
  height: 5rem;
  flex-shrink: 0;
  margin-top: -8px;
  cursor: pointer !important;
}

.back-btn {
  width: 30px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  left: 0;
  padding: 0 2rem;
  
}

.header-title {
  align-self: center;
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
