.wrapper {
  padding-top: 12px;
  .title {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #161823BF;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 400;
  }
}
